:root {
    /* --- base values --- */

    /* colors */
    --c-red: rgb(234 84 85);
    --c-green: rgb(40 199 111);
    --c-orange: rgb(255 111 97);
    --c-teal: rgb(23 190 187);
    --c-blue: rgb(74 144 226);

    --c-dark: rgb(26 26 46);
    --c-light: rgb(246 246 255);

    --c-text: var(--c-light);
    --c-bg: var(--c-dark);

    /* .25 transparent */
    --c-red-25: rgb(234 84 85 / .25);
    --c-green-25: rgb(40 199 111 / .25);
    --c-orange-25: rgb(255 111 97 / .25);
    --c-teal-25: rgb(23 190 187 / .25);
    --c-blue-25: rgb(74 144 226 / .25);
    --c-dark-25: rgb(26 26 46 / .25);
    --c-light-25: rgb(246 246 255 / .25);

    /* half transparent */
    --c-red-50: rgb(234 84 85 / .5);
    --c-green-50: rgb(40 199 111 / .5);
    --c-orange-50: rgb(255 111 97 / .5);
    --c-teal-50: rgb(23 190 187 / .5);
    --c-blue-50: rgb(74 144 226 / .5);
    --c-dark-50: rgb(26 26 46 / .5);
    --c-light-50: rgb(246 246 255 / .5);

    /* .75 transparent */
    --c-red-75: rgb(234 84 85 / .75);
    --c-green-75: rgb(40 199 111 / .75);
    --c-orange-75: rgb(255 111 97 / .75);
    --c-teal-75: rgb(23 190 187 / .75);
    --c-blue-75: rgb(74 144 226 / .75);
    --c-dark-75: rgb(26 26 46 / .75);
    --c-light-75: rgb(246 246 255 / .75);

    /* sizes */
    --size-sm: 4px;
    --size-md: 6px;
    --size-lg: 10px;
    --size-xl: 14px;

    /* fonts */
    --font-header: Montserrat-AG;
    --font-body: Roboto-AG;
    --font-code: Fira-Code-AG;

    --font-size-sm: 10px;
    --font-size-md: 14px;
    --font-size-lg: 18px;
    --font-size-xl: 24px;
}

/* helper classes */

.mrg-t-xl {
    margin-top: var(--size-xl);
}
.mrg-r-xl {
    margin-right: var(--size-xl);
}
.mrg-b-xl {
    margin-bottom: var(--size-xl);
}
.mrg-l-xl {
    margin-left: var(--size-xl);
}
.mrg-xl {
    margin: var(--size-xl);
}

.mrg-t-lg {
    margin-top: var(--size-lg);
}
.mrg-r-lg {
    margin-right: var(--size-lg);
}
.mrg-b-lg {
    margin-bottom: var(--size-lg);
}
.mrg-l-lg {
    margin-left: var(--size-lg);
}
.mrg-lg {
    margin: var(--size-lg);
}

.mrg-t-md {
    margin-top: var(--size-md);
}
.mrg-r-md {
    margin-right: var(--size-md);
}
.mrg-b-md {
    margin-bottom: var(--size-md);
}
.mrg-l-md {
    margin-left: var(--size-md);
}
.mrg-md {
    margin: var(--size-md);
}
.mrg-t-sm {
    margin-top: var(--size-sm);
}

.mrg-r-sm {
    margin-right: var(--size-sm);
}
.mrg-b-sm {
    margin-bottom: var(--size-sm);
}
.mrg-l-sm {
    margin-left: var(--size-sm);
}
.mrg-sm {
    margin: var(--size-sm);
}

.pad-t-xl {
    padding-top: var(--size-xl);
}
.pad-r-xl {
    padding-right: var(--size-xl);
}
.pad-b-xl {
    padding-bottom: var(--size-xl);
}
.pad-l-xl {
    padding-left: var(--size-xl);
}
.pad-xl {
    padding: var(--size-xl);
}

.pad-t-lg {
    padding-top: var(--size-lg);
}
.pad-r-lg {
    padding-right: var(--size-lg);
}
.pad-b-lg {
    padding-bottom: var(--size-lg);
}
.pad-l-lg {
    padding-left: var(--size-lg);
}
.pad-lg {
    padding: var(--size-lg);
}

.pad-t-md {
    padding-top: var(--size-md);
}
.pad-r-md {
    padding-right: var(--size-md);
}
.pad-b-md {
    padding-bottom: var(--size-md);
}
.pad-l-md {
    padding-left: var(--size-md);
}
.pad-md {
    padding: var(--size-md);
}

.pad-t-sm {
    padding-top: var(--size-sm);
}
.pad-r-sm {
    padding-right: var(--size-sm);
}
.pad-b-sm {
    padding-bottom: var(--size-sm);
}
.pad-l-sm {
    padding-left: var(--size-sm);
}
.pad-sm {
    padding: var(--size-sm);
}

/* flexbox helpers */

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.flexjust-start {
    justify-content: flex-start;
}
.flexjust-end {
    justify-content: flex-end;
}
.flexjust-between {
    justify-content: space-between;
}
.flexjust-around {
    justify-content: space-around;
}
.flexjust-evenly {
    justify-content: space-evenly;
}

.flexalign-center {
    align-items: center;
}
.flexalign-start {
    align-items: flex-start;
}
.flexalign-end {
    align-items: flex-end;
}

.flexwrap {
    flex-wrap: wrap;
}
.flexnowrap {
    flex-wrap: wrap;
}

.gap-xl {
    gap: var(--size-xl);
}
.gap-lg {
    gap: var(--size-lg);
}
.gap-md {
    gap: var(--size-md);
}
.gap-sm {
    gap: var(--size-sm);
}

/* semantic classes */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
}

.default-color {
    color: var(--c-text);
}

.default-bg {
    background-color: var(--c-bg);
}

.warn {
    color: var(--c-red);
    border: 1px solid var(--c-red);
    padding: var(--size-md);
}

.info {
    color: var(--c-blue);
    border: 1px solid var(--c-blue);
    padding: var(--size-md);
}

.success {
    color: var(--c-green);
    border: 1px solid var(--c-green);
    padding: var(--size-md);
}

.bg-warn {
    background-color: var(--c-red);
    border: 1px solid var(--c-red);
    padding: var(--size-md);
}

.bg-info {
    background-color: var(--c-blue);
    border: 1px solid var(--c-blue);
    padding: var(--size-md);
}

.bg-success {
    background-color: var(--c-green);
    border: 1px solid var(--c-green);
    padding: var(--size-md);
}